body {
    font-family: 'Raleway', sans-serif;
    //background-image: url('hackTAMs bg.png');
    //background-size: cover;
    //background-repeat: no-repeat;
}

#header {
    text-align: center;
    margin: 10px 0 20px 0;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

.frame {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0 10px 0;
    object-fit: contain;
    padding: 10px;
}

img, canvas{
    border-radius: 10px;
    display: block;
    margin: auto;
    vertical-align: center;
}

button{
    color: black;
}
